@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color:#98eaf0;
}

li, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    list-style: none;
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 5%;
}

.logo {
    padding: 9px 25px;
    font-size: 16px;
    font-weight: 820;
    color: #000000;
    background-color: #79dfd6;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.logo:hover {
    background-color: #19524d ;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;

}

.nav_links li a:hover{
    color: #19524d;

}

.contact {
    margin-left: auto;
    padding: 9px 25px;
    font-size: 16px;
    font-weight: 720;
    color: #000000;
    background-color: #79dfd6;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contact:hover {
    background-color: #19524d ;
}

.bg {
    background-image: url("https://image.dek-d.com/27/0546/1187/123338540");
    display: flex;
    box-sizing: border-box;
    background-size: cover;
}

.content {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    box-sizing: border-box;
    padding: 130px 0px;
}

.image {
    margin-left: 100px;
    width: 55%;
    -moz-border-radius: 700px;
    -webkit-border-radius: 700px;
    border-radius: 700px;
}

main {
    box-sizing: border-box;
}

.idx1 {
    padding-top: 150px;
    padding-left: 7.8%;
    color:#000000 ;

}

.idx2 {
    padding-top: 10px;
    padding-left: 7.8%;
    color:#000000 ;

    line-height: 35px;
}

.ft {
    font-weight: 500;
    font-size: 16px;
    color: #000000;

    list-style: none;
    text-align: center;
    padding: 40px;
}

.abm {
    padding-top: 10px;
    padding-left: 7.8%;
    margin-top: 50px;
    color:#000000 ;

}

.edt {
    padding-top: 10px;
    padding-left: 15%;
    margin-top: 50px;
    color:#000000 ;

}

.exp {
    padding-top: 10px;
    padding-left: 105px;
    margin-top: 50px;
    color:#000000 ;

}

.skill {
    padding-top: 10px;
    padding-left: 15%;
    margin-top: 50px;
    color:#000000 ;
}

.cta {
    padding-top: 10px;
    padding-left: 7.8%;
    margin-top: 50px;
    color:#000000 ;

}

.flexbox {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexboxcta {
    margin-top: 50px;
    margin-bottom: 120px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    padding-top: 10px;
    padding-left: 7.8%;
    display: block;
    box-sizing: border-box;
    width: 700px;
}

.edbox {
    padding-top: 10px;
    padding-left: 7.8%;
    padding-bottom: 100px;
    display: block;
    box-sizing: border-box;
    width: 700px;
}

.skbox {
    padding-top: 10px;
    padding-left: 15%;
    padding-bottom: 100px;
    display: block;
    box-sizing: border-box;
    width: 700px;
}

.boxcta {
    padding-top: 10px;
    padding-left: 7.8%;
    width: 700px;
}

.ctn {
    font-size: 20px;
    padding: 16px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

.ctnexp {
    font-size: 20px;
    padding-top: 17px;
    padding-left: 65px;
    padding-bottom: 350px;
}

.email {
    font-size: 20px;
}